.image{
            position: relative;
            height: 360px;
            width: 300px;
            border-radius: 50%;
            background-color: pink;
            padding: 3px;
            margin-bottom: 10px;



        }
        .start{
            background: linear-gradient(to bottom, #C3C7F3, #C8A8E9,#E3AADD,#F5BCBA,#F3DCDC,#F4E7FB);
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .profile-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 70vh;
            justify-content: center;
            max-width: 800px;
            width: 100%;
            background: white;
            border-radius: 24px;
            padding: 25px;
            box-shadow: 0 2px 3px 4px #B33771;

        }
        .image .profile-img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid white;
        }

        .profile-card .text-data{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .text-data .name01{
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .text-data .name02{
            font-size: 22px;
            font-weight: 500;
        }

        .text-data .name{
            font-size: 40px;
            font-weight: bolder;
            color: #82589F;
            margin-bottom: 10px;

        }
        .media-buttons .link{
            padding: 10px;
            text-decoration: none;

        }

        /* Basic navbar styling */
        /* Basic navbar styling */
        .navbar {
            z-index: 10;
            display: flex;
            position: fixed;
            background: linear-gradient(to bottom, #C3C7F3, #C8A8E9,#E3AADD);
            padding: 10px;
            width: 900px;            /* Fixed width */
            margin: 10px 300px;         /* Center horizontally */
            text-align: center;     /* Center align text within navbar */
        }

        .nav-links {
            list-style: none;       /* Remove bullets */
            margin: 0;
            padding: 0;
        }

        .nav-links li {
            display: inline-block; /* Display links inline */
            margin: 0 15px;        /* Spacing between each link */
        }

        .nav-links a {
            color: white;          /* White text color */
            text-decoration: none; /* Remove underline from links */
            font-size: 18px;       /* Increase the font size */
            display: flex;         /* Flexbox for aligning icon and text */
            align-items: center;   /* Center icon and text vertically */
            justify-content: center; /* Center text horizontally within the link */
            text-align: center;    /* Center text within the link */
            height: 100%;          /* Ensure the link takes full height of its container */
        }

        /* Mobile-friendly responsiveness */
        @media (max-width: 600px) {
            .nav-links li {
                display: block;     /* Stack the items vertically on small screens */
                margin: 10px 0;     /* Add spacing between each link */
            }
        }


.about-me-page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-me{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-container{
    width: 100%;
    padding: 50px 8%;
}

.imageSection {
    grid-area: imageSect;

}

.infoSection{
    grid-area: infoSect;

}

.skillSection{
    grid-area: skillSect;

}

.about-container .about-contents{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
    grid-template-areas: 'imageSect infoSect'
                         'skillSect skillSect';
}

.about-contents .imageSection{
    position: relative;
    min-width: 300px;
    height: 380px;
}

.imageSection {
    position: relative; /* Critical for positioning ::after */
    display: block; /* Ensures the block-level context */
}

.imageSection img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fits correctly */
    z-index: 2; /* Ensures the image is on top */
    position: relative; /* Keep image relative within the stacking context */
}

.about-contents .imageSection::after {
    content: ''; /* Ensures the pseudo-element exists */
    position: absolute; /* Absolute position to overlay */
    width: 100%;
    height: 100%;
    outline: 3px solid purple; /* The outline color */
    top: 15px; /* Adjusted based on your needs */
    left: 15px; /* Adjusted based on your needs */
    z-index: 1; /* Ensures it's behind the image */
    box-sizing: border-box; /* Ensures the outline stays within bounds */
}

.infoSection{
    color: #dedce1;
    font-size: 30px;
    font-family: helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.infoSection h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background: #aaabb0;
}


.infoSection h2{
    font-family: helvetica;
    font-size: 20px;
    font-weight: 600;
    color: purple;
    padding: 14px 0px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.infoSection p{
    color: #aaabb0;
    font-size: 12px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}

.personalInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}

.personalInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}

.personalInfo div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personalInfo div span{
    font-size: 12px;
    color: #aaabb0;
    letter-spacing: 1px;
}

.infoSection button{
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid purple;
    border-radius: 25px;
    font-size: 18px;
    background-color: #2b2a2f;
    color: #aaabb0;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 20px;
}

.infoSection button:hover{
    color: purple;
    border-color: #aaabb0;
}


.skillSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 80px;
}

.skillSection .subject{
    font-size: 17px;
    font-weight: lighter;
    color: #aaabb0;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.progress-bar{
    width: 100%;
    height: 16px;
    background: rebeccapurple;
    padding: 4px 6px;
    border-top: 1px solid purple;
    border-bottom: 1px solid plum;
    border-radius: 15px;
}

.progress-line{
    position: relative;
    width: 100%;
    height: 100%;
    background: plum;
    box-shadow: -1px -1px 2px #222222,
                1px 1px 2px purple;
    border-radius: 15px;
}

.progress-line::after{
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    transform: translateX(-50%);
    color: #aaabb0;
    font-size: 17px;
}

@media (max-width: 1024px) {
    .about-container .about-contents{
        grid-template-areas: 'imageSect  skillSect'
                         'infoSect infoSect';
    }

    .skillSection{
        grid-template-columns: 1fr;
        grid-gap:  20px;
    }

}

@media (max-width: 768px) {
    .about-container .about-contents{
        grid-template-areas: 'imageSect  imageSect'
                         'infoSect infoSect'
                            'skillSect skillSect';
    }
}


@media (max-width: 425px) {
    .personalInfo{
        grid-template-columns: 1fr;
    }

}


        .third {
            width: 100%;
    font-family: Arial, sans-serif;

    padding: 0;
            background: linear-gradient(to top, #a09e9e , #a09e9e ,#d6d1d0, #e5e0df ,#f3efee,#F4E7FB);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.skills-page {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.skills-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
}

.skill-icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
}

.skills-title{
    font-family: "Jacques Francois Shadow", serif;
    font-size:50px;
    color:  #b04d6d  ;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

p {
    color: #666;
}

.edu-body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 35px 10%;
}

main.education-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.box {
    display: flex; /* Use Flexbox for image and text alignment */
    align-items: center; /* Align items vertically in the center */

    border:2px solid purple;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;

    width: 100%;
}

.box img {
    width: 150px;
    height: 100px;
    margin-right: 15px; /* Space between image and paragraph */
}

.box p {
    font-size: 15px;
    margin: 0;
    line-height: 1.6;
}

col header.title{
font-family: helvetice;
color:pink;
}

.col .content{
padding:0px 30px;
border-left:2px solid #bababa;
}

.col .content .box{
position:relative;
padding:20px;
border:3px solid purple;
background-color:#ffffff;
cursor:pointer;
transition:all 0.4s;
margin-bottom:20px;
}

.col .content .box:hover{
box-shadow:0px 3px 12px 0px purple;
border:5px solid transparent;
}

.col .content .box::before{
content:'';
position:absolute;
width:16px;
height:16px;
border-radius:50%;
right:calc(100% + 22px);
top:0;
background-color: purple;
border:2px solid white;
}

.projects {
    height:685px;
    background:  #ebdef5;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 0px;
}

h1 {
    font-size: 36px;
    color: #5a67d8;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 3fr));
    gap: 20px;
}

.project-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #5a67d8;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

a {
    color: #3182ce;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #2b6cb0;
}


.like-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.like-btn.liked {
    color: red;
}

.assignments {
    padding: 20px;

    width: 1000px;
}

.assignment-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.assignment-card {
    height: 200px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 25px;
    position: relative;
}

.showcase-toggle {
    display: none;
}

.showcase-btn {
    display: inline-block;
    background-color: purple;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.showcase-toggle:checked + .showcase-btn + .modal {
    display: flex;
}

.modal-content {
    background-color: #fefefe;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
    margin: auto;
}

.case-selection {
    display: flex;
    flex-direction: column;
}

.case-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
}

.close-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #f44336; /* Red */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.assi-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    margin-bottom: 20px;
}

.gallery-page {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    background: linear-gradient(to right, #6D214F, black);
    height: 90vh; /* Full viewport height */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: flex-start; /* Align children at the top */
    overflow: hidden;
}

.gallery-page h1{
    color: white;
}

.gallery {
    display: flex;
    justify-content: center; /* Center the slider within the gallery */
    align-items: flex-start; /* Align items at the start of the gallery */
    margin-top: 120px; /* Add space from the top if needed */
}

.slider {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

.slider span img {
    border: 5px solid white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;

    display: block; /
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}
 .contact{
height: 1000px;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
.main .contact-page{

    background: black;
}

div .contact-page,input,textarea,a{
    font-family:'Roboto Thin', sans-serif;
}

.section-wrapper{
    width: 100%;
    padding: 10px;
}

.box-wrapper{
    position: relative;
    display: table;
    width: 1100px;
    margin: auto;
    margin-top: 35px;
    border-radius: 30px;
}

.info-wrapper{
    width: 35%;
    height: 620px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg,rgba(126,39,156,1)0%,rgba(49,39,157,1)100%);
    color: white;
}

.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}

.info-details{
    list-style: none;
    margin: 60px 0px;
}

.info-details li{
    margin-top: 25px;
    font-size: 18px;
    color: white;
}

.info-details li i{
    background: #F44770;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.info-details li a{
    color: white;
    text-decoration: none;
}

.info-details li a:hover{
    color: #F44770;
}

.social-icons{
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}

.social-icons li{
    display: inline-block;
}

.social-icons li i{
    background: #F44770;
    color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}

.social-icons li i:hover{
    background: white;
    color: black;
}

.form-wrap{
    left: 464px;
    top: 0.5px;
    position: absolute;
    height: 630px;
    width: 500px;
    float: right;
    padding: 40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}

.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.form-fields input,
.form-fields textarea{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    width: 100%;

}

.form-fields textarea{
    height: 100px;
    width: 90px;
    resize: none;
}

.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbc3d1 , inset -8px -8px 8px #ffffff;

}

.form-fields .form-group:last-child{
    width: 80%;
    height: 50%;
}

.submit-button{
    border: none;
    width: 96%;
    height: 50px;
    margin: 15px 12px;
    border-radius: 30px;
    font-size: 20px ;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    background: #F44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}

.submit-button:hover{
    background: #31279d;
}

/*Responsive css*/

@media only screen and (max-width: 767px) {
    .box-wrapper {
        width: 100% !important;
    }

    .info-wrapper,
    .form-wrap {
        width: 100% !important;
        height: inherit !important;
        float: none !important;
    }

    .info-wrapper {
        border-radius: 30px 30px 0px 0px !important;
    }

    .form-wrap {
        border-radius: 0px 0px 30px 30px !important;
    }

    .form-group {
        width: 100% !important;
        float: none !important;
        margin: 25px 0px !important;
    }

    .form-fields .form-group:last-child,
    .submit-button {
        width: 100% !important;
    }

    .submit-button {
        margin: 10px 0px !important;
    }
}

















